html{
	height:100%;
}
body{
	color: green;
	background: #C0C0C0;
	height:100%;
	padding: 0;
	margin: 0;
}
#map_canvass{
	height:100%;
} 
.noscrollbar {
		line-height:1.35;
		overflow:hidden;
		white-space:nowrap; 
		}
		.img-thumbnail{
		  width: 80px;
		  height: 80px;
		}